#### Git Ignore ####
*.pdf
*.tex
*.gz
*.log
*.bbl
*.Rhistory
figure/*
EPSAPresentation/EPSA2013-cache/*
EPSAPresentation/EPSA2013-figure/*
ChangePointNote/cache/*
ChangePointNote/figure/*
ChangePointFull/cache/*
ChangePointFull/figure/*
ChangePointFull/figures/*

.DS_Store
